<h1>{{ board.name }}</h1>

<div class="lists">
  <div ng-repeat="list in lists" class="list">
    <div class="list-name">{{ list.name }}</div>

    <div ng-repeat="card in list.cards | completed: false | orderBy: 'updated_at'">
      <card></card>
      <card-modal></card-modal>
    </div>

    <div class="new-card-link" ng-click="list.showNewCard = true" ng-hide="list.showNewCard">New card...</div>
    <div class="new-card-input" ng-show="list.showNewCard">
      <textarea
        class="form-control"
        ng-model="list.newCard.title">
      </textarea>
      <div class="new-card-input-controls">
        <button
          class="btn btn-success add-card-button"
          ng-click="createCard(list)">
          Add
        </button>
        <button type="button" class="close" aria-label="Close" ng-click=><span aria-hidden="true">&times;</span></button>
      </div>
    </div>

  </div>
  <div class="list completed-list">
    <div class="list-name">Completed</div>
    <div ng-repeat="card in allCards | completed: true | orderBy: 'updated_at'">
      <div class="card">
        <div class="completed-box">
          <input type="checkbox" ng-model="card.completed">
        </div>
        <div class="card-content" ng-click="showCard(card.id)">
          <div class="card-title">{{ card.title }}</div>
          <span class="glyphicon glyphicon-align-left description-icon" aria-hidden="true" ng-show="card.description.length > 0"></span>
        </div>
      </div>
      <card-modal></card-modal>
    </div>
  </div>
</div>
