<h1>{{ board.name }}</h1>

<div class="lists">
  <div ng-repeat="list in lists" class="list">
    <div class="list-name">{{ list.name }}</div>

    <div ng-repeat="card in list.cards">
      <div class="card" ng-click="showCard(card.id)">
        <div class="card-title">{{ card.title }}</div>
      </div>
      <card-modal></card-modal>
    </div>

    <div class="new-card-link" ng-click="list.addNewCard()" ng-hide="list.showNewCard">New card...</div>
    <div class="new-card-input" ng-show="list.showNewCard">
      <textarea
        class="form-control"
        ng-model="list.newCard.title">
      </textarea>
      <div class="new-card-input-controls">
        <button
          class="btn btn-success add-card-button"
          ng-click="createCard(list)">
          Add
        </button>
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>


  </div>
</div>
