<div class="modal" data-id="{{card.id}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="card-title">{{card.title}}</h4>
        <div class="card-field">
          <div class="card-field-name">Description</div>
          <div class="card-description">
            <div class="form-inline">
              <textarea
                id="editable"
                class="form-control"
                ng-show="editDescription"
                ng-model="card.description"
                ng-blur="hideEditable(card.description)">
              </textarea>
              <button
                class="btn btn-success"
                ng-click="hideEditable(card.description)"
                ng-show="editDescription">
                Save
              </button>
            </div>
            <p ng-hide="editDescription" ng-click="showEditable()">{{ card.description }}</p>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
