.board-switcher {
  width: 300px;
  float: right;
}

.new-board-link {
  margin-top: .5em;
}

.delete-board-link {
  margin-top: .5em;
  float: right;
}

.lists {
  display: flex;
  flex-direction: row;
}

.list {
  width: 250px;
  background: hsl(0, 0%, 90%);
  border-radius: 3px;
  margin: 3px;
}

.list-name {
  text-align: center;
  font-weight: bold;
  margin-top: .5em;
}

.card {
  background: white;
  border-radius: 3px;
  margin: 4px;
  padding: .5em;
  cursor: pointer;
}

.new-card {
  text-align: center;
  padding: .5em;
  cursor: pointer;
}

.modal {
  &.in { background: rgba(0,0,0,0.35)}
  div.modal-content { box-shadow: none; }
  .card-title {
    font-weight: bold;
    margin: .5em 0;
  }
  .card-field-name {
    color: gray;
  }
}
