// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board-switcher {
  width: 300px;
  float: right;
}

.new-board-link {
  margin-top: .5em;
}

.delete-board-link {
  margin-top: .5em;
  float: right;
}

.lists {
  display: flex;
  flex-direction: row;
}

.list {
  width: 250px;
  height: 500px;
  background: hsl(0, 0%, 90%);
  border-radius: 3px;
  margin: 3px;
}

.list-name {
  text-align: center;
  font-weight: bold;
  margin-top: .5em;
}

.card {
  background: white;
  border-radius: 3px;
  margin: 4px;
  padding: .5em;
}
