.card {
  background: white;
  border-radius: 3px;
  margin: 4px;
  display: flex;
  flex-direction: row;
}

.card-content {
  cursor: pointer;
  padding: .5em;
  flex-grow: 5;
}

.completed-box {
  padding: .5em 0 0 .5em;
}

.modal {
  &.in { background: rgba(0,0,0,0.35)}
  div.modal-content { box-shadow: none; }
  .card-title {
    font-weight: bold;
    margin: .5em 0;
  }
  .card-field-name {
    color: gray;
  }
}

.description-icon {
  color: gray;
}
